package ${package}.service;

import ${package}.bean.${className};
import com.xihua.base.BaseService;
import java.util.List;

/**
 * ${tableComment} 服务层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends BaseService<${className}, ${primaryKey.attrType}> {

    /**
     * 保存或更新
     * @return 结果
     */
    public int saveOrUpdate${className}(${className} ${objectName});

}