package ${package}.service.impl;

import org.springframework.transaction.annotation.Transactional;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.mapper.${className}Mapper;
import ${package}.bean.${className};
import ${package}.service.I${className}Service;
import com.xihua.base.AbstractService;
import com.xihua.utils.StringUtils;

/**
 * ${tableComment} 服务层实现
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends AbstractService<${className},${primaryKey.attrType}> implements I${className}Service {

    @Autowired
    private ${className}Mapper ${objectName}Mapper;

    @Autowired
    private I${className}Service ${objectName}Service;

    @Autowired
    public void setBaseMapper(){
        super.setBaseMapper(${objectName}Mapper);
    }

    /**
     * 新增${tableComment}
     * @param ${objectName} ${tableComment}信息
     * @return 结果
     */
    @Override
    @Transactional
    public int saveOrUpdate${className}(${className} ${objectName}) {
        //新记录标记
        boolean isNewRecord = false;
        if (StringUtils.isEmpty(${objectName}.get${primaryKey.attrName}())){
            isNewRecord = true;
                ${objectName}Service.insert(${objectName});
        } else{
                ${objectName}Service.update(${objectName});
        }
        return 1;
    }

}